.container {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.inner {
  padding: 10px;
}

.item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
