.container {
  display: flex;
  height: 50vh;
  padding: 20px;
  gap: 20px;
}

.left {
  width: 200px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.listWrapper {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
