.priceRange {
  display: flex;
  gap: 10px;
  margin-top: 4px;
}

.group {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 4px;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}
